* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif, FontAwesome, Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(https://external-preview.redd.it/wOza2JuqHftyKiR_CLlPIKHM8bAKffRVWhxOB6l_gZQ.jpg?auto=webp&s=2c510e682cc30b370fc4ba6e8fefcdca2d43387b);
    background-size: cover;
}

.container {
    width: 80%;
    height: 94vh;
    margin: 3vh auto;
    background-color: white;
    display: flex;
    border: 5px outset #4d6e97;
}

#users {
    width: 35%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#messages {
    width: 65%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.userHead {
    border-right: 1px solid lightgrey;
}

.userHead,
.messagesHead {
    height: 8%;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.leftUserHead,
.leftMessageHead {
    display: flex;
    align-items: center;
}

.userHead img,
.messagesHead img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.rightUserHead,
.rightMessageHead {
    color: #b1b1b1;
    display: flex;
    align-items: center;
}

.rightUserHead i,
.rightMessageHead i {
    font-size: 25px;
    margin-right: 20px;
}

.alertDesktop {
    height: 10%;
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: 20px;
}

.mute {
    background-color: white;
    border-radius: 50%;
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: 10px;
}

.mute i {
    font-size: 20px;
    color: #8edafc;
}

.alertText {
    display: flex;
    flex-direction: column;
}

.alertText h5 {
    color: grey;
    text-decoration: underline;
}

.searchContainer {
    height: 4%;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchContainer input {
    width: 98%;
    height: 80%;
    border: none;
}

.contattiContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
}

.contatti {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
    cursor: pointer;
}

.leftContatti {
    display: flex;
    align-items: center;
}

.contatti img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.contactText h5,
.info h5 {
    color: grey;
}

.chatRoom {
    height: 100%;
    width: 100%;
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    row-gap: 20px;
    overflow-y: auto;
}

.sentMessages {
    background-color: #d5f9ba;
    border-radius: 10px;
    padding: 0px 10px;
    align-self: flex-end;
    width: 40%;
    box-shadow: 5px 5px 8px 3px #888888;
}

.receivedMessages {
    background-color: white;
    border-radius: 10px;
    padding: 0px 10px;
    align-self: flex-start;
    width: 40%;
    box-shadow: 5px 5px 8px 3px #888888;
}

.messageBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.messageText {
    font-size: 20px;
    margin: 15px 0px;
}

.timeText {
    font-size: 10px;
    align-self: flex-end;
    color: grey;
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    position: relative;
}

.menu {
    text-align: center;
}

.timeText i {
    font-size: 20px;
    display: none;
    cursor: pointer;
}

.messageBox:hover i {
    display: block;
}

.deleteMenu {
    width: 200px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    right: 0;
    top: 10px;
    border: 1px solid grey;
}

.deleteMenu div:hover {
    background-color: rgba(211, 211, 211, 0.7);
}

.menuInfo {
    padding: 5px 0px;
    display: flex;
    position: relative;
}

.infoMessage {
    background-color: white;
    width: 200px;
    position: absolute;
    right: 0px;
    top: 70px;
}

.infoMessage div {
    font-size: 18px;
}

.infoMessage p {
    color: grey;
}

.infoMessage div:nth-child(2) {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.delete {
    border-top: 2px solid grey;
    display: flex;
    padding: 5px 0px;
}

.delete i,
.menuInfo i {
    margin: 0px 10px;
}

.bg-active {
    background-color: #e9ebeb;
}

.newMessage {
    display: flex;
    height: 80px;
    background-color: #eaeaea;
    padding: 10px 30px;
    align-items: center;
    column-gap: 20px;
}

.newMessage input {
    width: 85%;
    height: 90%;
    border: none;
    padding: 10px;
    margin: 0 20px;
}

.newMessage i {
    font-size: 25px;
    color: grey;
}